.DS_Store
*.xlsx
task/logfiles
analysis/chanlocs/*
analysis/noneeglab/*
analysis/looplogs/*
analysis/en_diary.csv
analysis/en_log.csv
analysis/pilots/en_log_pilots.csv
analysis/getroot.m
plots/*
forms/*
photos/*
stimuli/*
presentations/*
ethics/*
